.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/backend-node/node_modules
dist
dist-ssr
*.local
# Python Cache
backend-python/AI/__pycache__/
backend-python/automation/__pycache__/
backend-python/database/__pycache__/
backend-python/projects/__pycache__/
backend-python/storage/__pycache__/
backend-python/util/__pycache__/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
database/database_query.txt

# Sensitive credentials
AI/credentials.json
AI/token.json

# Uploads and raw data
uploads/
rawdata/

#local storage
/backend-node/File_Storage